/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
$font-principal:'kanit';
$font-firma:'splash';

/*colores*/
$primary:#fff;

/*tamaños*/
$large: 5.2rem;
$medium: 2.2rem;
$base: 1.6rem;
$smal: 1.2rem;

/*espaciados*/
$spacing-large: 6rem;
$spacing-medium: 2.2rem;
$spacing-base: 2rem;
$spacing-xsmal: 1rem;

